# requirements_fase3.txt
# Servidor Central de Licencias — Fase 3
# pip install -r requirements_fase3.txt

# Django core
Django==5.1.2
djangorestframework==3.15.2

# Admin UI moderna
django-unfold==0.40.0

# Base de datos
psycopg2-binary==2.9.9       # PostgreSQL (producción)
dj-database-url==2.2.0       # Parsear DATABASE_URL

# Tests
pytest==8.2.0
pytest-django==4.8.0
pytest-cov==5.0.0
